<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Kvalifikācijas darbs
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
      <style>
        .nav-item {
          margin-left:15px;
        }
        *, body {
          background-color: #d2dfe5;
        }
        .page-content{
            padding-top:10px;
        }
        .navbar ul, .navbar a,.navbar div, .navbar li{
            background-color: #acc5d0;
        }
        .userDashboard div, .userDashboard h4, .userDashboard p {
          display: "none;";
          background-color: #d2dfe5;
        }
        .userDashboard h4 {
          margin:40px;
        }
        .userDashboard p {
          margin-left:60px;
        }
        img{
        width: 40px;
        height: 40px;
        background-color: red;
    }
    .navbar-collapse {
          padding-left: 100px;
          padding-right: 20px;
        }
      </style>
      
        <nav class="navbar navbar-expand-md navbar-light" style="background-color: #acc5d0;">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="nav navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/countries">Countries</a></li>
                <li class="nav-item"><a class="nav-link" href="/flags">Flags</a></li>
                <li class="nav-item"><a class="nav-link" href="/capitals">Capitals</a></li>
                <li class="nav-item">
                <div class="dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Multiple answer
                  </a>
                
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/flagsMultiple">Flags</a></li>
                    <li><a class="dropdown-item" href="/capitalsMultiple">Capitals</a></li>
                    <li><a class="dropdown-item" href="/general1">General #1</a></li>
                    <li><a class="dropdown-item" href="/general2">General #2</a></li>
                    <li><a class="dropdown-item" href="/general3">General #3</a></li>
                  </ul>
                </div>
              </li>
                  
              </ul>
              

              <ul class="nav navbar-nav">
                <li class="nav-item"><a id="logIn" class="nav-link" href="/login">Login</a></li>
                <li class="nav-item"><a id="register" class="nav-link" href="/register">Register</a></li>
                <li class="nav-item"><a id="logOut" class="nav-link" style="display:none;" href="/logout">Log out</a></li>
              </ul>
              </div>
             
          </nav>
          <div id="userDashboard" class="userDashboard">
            <h4> - Countries test best score</h4>
            <p id="bestCountriesRecord"></p>
            <h4> - Flags test best score</h4>
            <p id="bestFlagsRecord"></p>
            <h4> - Capitals test best score</h4>
            <p id="bestCapitalsRecord"></p>
            <h4> - General #1 test best score</h4>
            <p id="general1Record"></p>
            <h4> - General #2 test best score</h4>
            <p id="general2Record"></p>
            <h4> - General #3 test best score</h3>
            <p id="general3Record"></p>
          </div>
          </body>
        
        
        <script>
          function userSetup(){
            var logOut = document.getElementById('logOut');
            var logIn = document.getElementById('logIn');
            var register = document.getElementById('register');
            if('<%=locals.username%>') {
              logOut.style.display = "inline-block";
              logIn.style.display = "none";
              register.style.display = "none";
            }
            else{
              logOut.style.display = "none";
              logIn.style.display = "inline-block";
              register.style.display = "inline-block";
            }
            if('<%=locals.msg1%>'){
              var userDashboard = document.getElementById('userDashboard');
              userDashboard.style.display = "inline-block";
              document.getElementById('bestCountriesRecord').innerHTML = '<%=locals.msg1%>';
            }
            if('<%=locals.msg2%>'){
              var userDashboard = document.getElementById('userDashboard');
              userDashboard.style.display = "inline-block";
              document.getElementById('bestFlagsRecord').innerHTML = '<%=locals.msg2%>';
            }
            if('<%=locals.msg3%>'){
              var userDashboard = document.getElementById('userDashboard');
              userDashboard.style.display = "inline-block";
              document.getElementById('bestCapitalsRecord').innerHTML = '<%=locals.msg3%>';
            }
            if('<%=locals.msg4%>'){
              var userDashboard = document.getElementById('userDashboard');
              userDashboard.style.display = "inline-block";
              document.getElementById('general1Record').innerHTML = '<%=locals.msg4%>';
            }
            if('<%=locals.msg5%>'){
              var userDashboard = document.getElementById('userDashboard');
              userDashboard.style.display = "inline-block";
              document.getElementById('general2Record').innerHTML = '<%=locals.msg5%>';
            }
            if('<%=locals.msg6%>'){
              var userDashboard = document.getElementById('userDashboard');
              userDashboard.style.display = "inline-block";
              document.getElementById('general3Record').innerHTML = '<%=locals.msg6%>';
            }
          }
          userSetup();
          
          
         </script>
    </body>
</html>